# Virtual environment
venv/
.env

# dbt
target/
dbt_packages/
logs/
olist_pipeline/logs/

# DuckDB
*.duckdb
*.duckdb.wal

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# Seeds
olist_pipeline/seeds/*.csv

# VS Code
.vscode/

# Evidence
evidence_dashboard/node_modules/
evidence_dashboard/.evidence/
evidence_dashboard/build/
evidence_dashboard/sources/needful_things/
evidence_dashboard/sources/olist/dev.duckdb
evidence_dashboard/dev.duckdb
evidence_dashboard/.env